<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:300" />

<script data-require="jquery@2.1.3" data-semver="2.1.3" 
src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
  window.onload = () => {
    const menu = document.querySelector(".menu");
    const navList = document.querySelector(".navList");

    menu.addEventListener("click", () => {
      navList.classList.toggle("active");
    });


  }
</script>
<div id="cuerpo">
  <nav id="main-menu" role="navigation" class="main-menu">

    <div class="logo">

      <a [routerLink]="['/home']" [routerLinkActive]="['active']">
      <img src="https://www.kindpng.com/picc/m/163-1636340_user-avatar-icon-avatar-transparent-user-icon-png.png" alt="Logo" class="app-logo" />
      </a> 
    

    </div>

    <!-- <div class="settings"> -->
    <ul>
      <li class="has-subnav">
        <a [routerLink]="['/']" [routerLinkActive]="['active']">
          <i class="fa fa-gear fa-lg"></i>
          <span class="nav-text"> Settings</span>
        </a>
        <ul class="sub-nav">
          <li><a [routerLink]="['/perfil']" [routerLinkActive]="['active']">Perfil</a></li>
          <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Usuarios</a></li>
          <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Editar Perfil</a></li>
        </ul>
      </li>
    </ul>
    <!-- </div> -->

    <ul>

      <li class="has-no-subnav">
        <a (click)="agregarUsuarios()">
          <i class="fa fa-home fa-lg"></i>
          <span class="nav-text"> Agregar Perfil</span>
        </a>
      </li>

      <li class="has-subnav">
        <a [routerLink]="['./perfil']" [routerLinkActive]="['active']">
          <i class="fa fa-area-chart fa-lg"></i>
          <span class="nav-text"> Perfil</span>
        </a>
      </li>

      <li class="has-subnav">
        <a (click)="verListaUsuarios()">
          <i class="fa fa-file fa-lg"></i>
          <span class="nav-text"> Usuarios</span>
        </a>
      </li>

      <li class="has-subnav">
        <a (click)="verEditarPerfil()">
          <i class="fa fa-line-chart fa-lg"></i>
          <span class="nav-text"> Editar Perfil</span>
        </a>
      </li>

      <li class="has-no-subnav">
        <a [routerLink]="['./perfil']" [routerLinkActive]="['active']">
          <i class="fa fa-download"></i>
          <span class="nav-text"> Eliminar</span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li class="has-no-subnav">
        <a [routerLink]="['/']" [routerLinkActive]="['active']">
          <i class="fa fa-sign-out fa-lg"></i>
          <span class="nav-text"> Logout</span>
        </a>
      </li>
    </ul>

  </nav>

  <!-- <div class="navbar navbar-default navbar-fixed-top">
        
      </div> -->

  <div class="container-fluid app-view-container">

    <div class="row">

      <main id="main" role="main" class="container-fluid main">
        <div id="settings">
          <h1 class="page-header">Settings</h1>
        </div>

        <div id="overview">
          <h1 class="page-header">Overview</h1>
        </div>

        <div id="reports">
          <h1 class="page-header">Reports</h1>
        </div>

        <div id="analytics">
          <h1 class="page-header">Analytics</h1>
        </div>

        <div id="export">
          <h1 class="page-header">Export</h1>
        </div>

        <div id="dashboard" *ngFor="let user of listaUsuario">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">

            <div class="col-xs-4 placeholder">

              <img src="https://cdn.dribbble.com/users/2095589/screenshots/4166422/user_1.png" class="img-responsive" alt="" width="212px" height="212px" />
              <!-- <div class="pie"></div> -->
              <h4>Usuario</h4>
              <span class="text-muted">
                {{user.username}}
              </span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://icons.veryicon.com/png/o/miscellaneous/admin-dashboard-flat-multicolor/admin-roles.png" class="img-responsive" width="172px" height="142px" />
              <h4>Nombre</h4>
              <span class="text-muted">
               {{user.firstname}}
              </span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">

              <img src="https://www.seekpng.com/png/detail/357-3576734_dashboard-icon-blue.png" class="img-responsive" alt="" width="242px" height="242px" />
              <h4>ROL</h4>
              <span class="text-muted">{{getRolUser()}}</span>

            </div>

            

          </div>
          <div *ngIf="rutaUser()==true">
            <h2 class="page-header">Bienvenido</h2>
          </div>

          <div *ngIf="rutaUser()==false">
            <h2 class="page-header">Lista de empleados</h2>
          <!--<ul *ngIf="users">
            <li *ngFor="let user of users"></li>
          </ul>-->

          <div class="table-responsive">

            <table class="table table-striped">

              <thead>

                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>ROL</th>
                  <th>USERNAME</th>
                  <th>DEPARTAMENTO</th>
                </tr>

              </thead>

              <tbody>

                <tr *ngFor="let user of listaUsuario">
                  <td>{{user.id}}</td>
                  <td>{{user.firstname}}</td>
                  <td>{{user.rol}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.departmento}}</td>
                </tr>

                


              </tbody>

            </table>
          </div>
          

          </div>

        </div>

      </main>

    </div>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="assets/js/app.js"></script>
  <script type="text/javascript">

    (function ($) {
      'use strict';

      var mainMenu = $('#main-menu'),
        nav = $('.has-no-subnav'),
        subNavLi = $('.has-subnav'),
        subNav = $('.sub-nav');

      mainMenu.mouseleave(function () {
        subNavLi.removeClass('expanded');
        subNav.removeClass('expanded');
      });

      nav.click(function () {

        subNavLi.removeClass('expanded');
        subNav.removeClass('expanded');

      });

      subNavLi.click(function () {

        var _this = $(this);

        if (_this.hasClass('expanded')) {

          _this.removeClass('expanded');
          subNav.removeClass('expanded');

        } else {

          subNavLi.removeClass('expanded');
          _this.addClass('expanded');
          subNav.removeClass('expanded');
          _this.find(subNav).addClass('expanded');

        }

      });

    }(jQuery));
  </script>
</div>