<div class="wrapper"></div>
  <nav>
    <div class="logo">
      <img src="https://www.kindpng.com/picc/m/163-1636340_user-avatar-icon-avatar-transparent-user-icon-png.png" alt="Logo" class="app-logo"> 
    </div>
    <div class="menu">
      <div class="burger"></div>
    </div>
    <ul class="navList">
      <li>
          <a [routerLink]="['/']" [routerLinkActive]="['active']">Inicio</a>

      </li>
      <li>
          <a [routerLink]="['/dashboard/usuarios/0']" [routerLinkActive]="['active']">Dashboard</a>
      </li>
      <li><a [routerLink]="['/']" [routerLinkActive]="['active']">Log Out</a></li>
      <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">Log In</a>
      </li>
    </ul>
  </nav>