<div class="center">
    <form class="box" #editForm="ngForm" (ngSubmit)="onSubmit()">
        <h1>Editar perfil</h1>
        <div>
            <input type="text" placeholder="id" [(ngModel)]="usuarioMod._id" [ngModelOptions]="{standalone: true}">
        </div>
        <div>
            <input type="text" placeholder="id_superior" [(ngModel)]="usuarioMod.id_super" [ngModelOptions]="{standalone: true}">
        </div>
        
        
        <input type="text" placeholder="Nombre" [(ngModel)]="usuarioMod.firstname" [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="usuarioName" [(ngModel)]="usuarioMod.username" [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="correo" [(ngModel)]="usuarioMod.email" [ngModelOptions]="{standalone: true}">
        <input type="password" placeholder="password" [(ngModel)]="usuarioMod.password" [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="departamento" [(ngModel)]="usuarioMod.department" [ngModelOptions]="{standalone: true}">
        <input type="text" placeholder="rol" [(ngModel)]="usuarioMod.rol" [ngModelOptions]="{standalone: true}">
        
        <input type="submit" value="Agregar">
        <button class="boton" (click)="atras()">Atras</button>
    </form>
    </div>
