<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:300" />

<h2 class="sub-header">Lista de empleados</h2>

  
          <div class="table-responsive">

            <table class="table table-striped">

              <thead>

                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>ROL</th>
                  <th>USERNAME</th>
                  <th>DEPARTAMENTO</th>
                </tr>

              </thead>

              <tbody>

                <tr *ngFor="let user of listaUsuario">
                  <td>{{user.id}}</td>
                  <td>{{user.firstname}}</td>
                  <td>{{user.rol}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.departmento}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

