<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:300" />

<h2 class="sub-header">Lista de empleados</h2>

  <article *ngFor="let usuario of usuarios">
    <h3>{{usuario.firstname}}</h3>
    <app-usuarios [usuario]="usuario"></app-usuarios>
  </article>
  
  
  <div id="articles" *ngIf="usuarios">
    <div *ngFor="let usuario of usuarios">
      <app-usuarios [usuario]="usuario">

      </app-usuarios>
    </div>
  </div>
          <div class="table-responsive">

            <table class="table table-striped" *ngFor="let usuario of usuarios">

              <thead>

                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>ROL</th>
                  <th>USERNAME</th>
                  <th>DEPARTAMENTO</th>
                </tr>

              </thead>

              <tbody>

                <tr>
                  <td>{{usuario._id}}</td>
                  <td>{{usuario.firstname}}</td>
                  <td>{{usuario.rol}}</td>
                  <td>{{usuario.username}}</td>
                  <td>{{usuario.department}}</td>
                </tr>

                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>

                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

